*{
  box-sizing: border-box;
}
body{
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.font-face-inter-bold{
  font-family: Inter-Bold;
}
.font-face-inter-semi-bold{
  font-family: Inter-SemiBold;
}
.font-face-inter-regular{
  font-family: Inter-Regular;
}
.appContainer{
  height: 868px;
  width: 550px;
  background-color: #23252C;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
.appInnerContainer{
  height: 780px;
  width: 317px;
  background-color: rgb(21, 22, 22);
}
.myPhoto img{
  height: 317px;
  width: 317px;
  object-fit: cover;
  object-position: 0% 0%;
}
.infoContainer{
  background-color: #1A1B21;
}
.textContainer{
  text-align: center;
}
.textContainer h1{
  font-family: 'Inter-Bold';
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  margin: 21px 0px 6px 0px;
  color: #FFFFFF;
}
.textContainer h3{
  font-family: 'Inter-Regular';
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  margin: 0px 0px 8px 0px;
  color: #F3BF99;
}
.textContainer h4, .aboutConatainer h4, .interestsConatainer h4{
  font-family: 'Inter-Regular';
  font-size: 10px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  margin: 0px;
  color: #F5F5F5;
}
.textContainer h4{
  margin-bottom: 15px;
}
.twoButtons{
  display: flex;
  justify-content: center;
  padding-bottom: 33px;
}
.linkedinButton, .emailButton{
  height: 34px;
  width: 115px;
  text-decoration: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkedinButton a, .emailButton a{
  font-family: 'Inter-Regular';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.twoButtons .linkedinButton{
  background-color: #5093E2;
  color: #FFFFFF;
  src: url('https://www.linkedin.com/in/rokas-stankevi%C4%8Dius-6577861b2/');
  margin-left: 6.5px;
}
.twoButtons .emailButton{
  background-color: #D1D5DB;
  color: #000000;
  margin-right: 6.5px;
}
.linkedinButton img, .emailButton img{
  padding-right: 8px;
  padding-top: 3px;
  height: 20px;
}
.aboutConatainer h1, .interestsConatainer h1{
  font-family: 'Inter-Regular';
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  margin-top: 0px;
  color: #FFFFFF;
}
.aboutConatainer, .interestsConatainer{
  background-color: #1A1B21;
  padding:0px 36px 20px 36px;
}

.footerContainer{
  display: flex;
  justify-content: space-around;
  padding: 20px 73px 20px 73px;
}